asgiref==3.8.1
beautifulsoup4==4.12.3
certifi==2024.8.30
charset-normalizer==3.4.0
defusedxml==0.7.1
Django==4.2
django-cron==0.6.0
djangorestframework==3.15.2
djangorestframework-xml==2.0.0
idna==3.10
python-decouple==3.8
requests==2.32.3
soupsieve==2.6
sqlparse==0.5.1
tzdata==2024.2
urllib3==2.2.3
